body {
	font-family: 'Noto Serif', serif;
	margin: 0;
	text-align: justify;
	font-size: 18px;
	background: url('../images/clean_textile.png');
}

h2 {
	text-transform:uppercase;
	font-weight: normal;
	text-align: center;
	font-size: 200%;
    margin-bottom: 0.5em;
}

h3 {
    margin-top: 0.5em;
	text-align: center;
	font-weight: normal;
}

hr {
	width: calc( 100% - 40px );
}

#navSection {
    position: fixed;
    top: 0px;
    width: 100%;
    text-transform: uppercase;
    background: rgb(255, 255, 255);
    z-index: 999;
    box-shadow: 0px 5px 12px rgba(183, 183, 183, 0.41);
}

.slicknav_menu {
	display: none;
}

.slicknav_menu {
    font-size: 16px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 5px 12px rgba(183, 183, 183, 0.41);
    padding: 5px;
}

.slicknav_nav a {
	color: rgba(183, 33, 37, 1);
}

.slicknav_btn {
    background-color: rgba(183, 33, 37, 1);;
}

a {
	color:#333333;
	text-decoration:none;
}

a:hover {
	color: #f40c03;
}

a[target="_blank"]:after {
	background-size: 1em;
	content: " ";
	width: 0.9em;
	height: 0.9em;
	display: inline-block;
}

nav a {
	color: rgba(183, 33, 37, 1);	
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    flex: 1;
    text-align: center;
    display: unset;
}

#menuMqDetector {float:left;}

.site-section .grid-container {
	padding-top: 1em;
	padding-bottom: 2em;
}

h3 {
	font-size: 130%;
}

/* Desktop */
@media only screen and (min-width: 1150px) {

    #menuMqDetector {float:left;}
	
	nav {
		font-size: 130%;
	}
	
	.nav-padding {
		height: 5em;
	}
	
	nav img {
		height: 4em;
	}
	
	nav a {		
		padding: 0.2em;
		display: inline-block;
		line-height: 4em;
		height: 4em;
	}
	
	nav  li:nth-child(n+3) a:before {
		content: "|";
		position: relative;
		left: -0.2em;
	}
}

/* menu moyen */
@media only screen and (min-width: 900px) and (max-width: 1150px) {

    #menuMqDetector {float:left;}
	
	nav {
		font-size: 110%;
	}
	
	.nav-padding {
		height: 4em;
	}
	
	nav a {		
		line-height: 4.5em;
		height: 3.5em;
	}
	nav img {
		height: 3.5em;
	}
}

/* menu burger */
@media only screen and (max-width: 899px) {
    #menuMqDetector {float:none;}
	
	.nav-padding {
		height: 50px;
	} 
	
	nav {
		display: none;
	}
	.slicknav_menu {
		display:block;
		position:fixed;
		width:100%;
		z-index:1000;
	}

	.slicknav_nav a {
		font-size: 170%;
		text-align: left;
	}

	.slicknav_menu a:hover {
		text-decoration: none;
	}

	.slicknav_menu ul li:first-child a {
		padding: 0 !important;
		margin-left: 35vw;
		margin-bottom: 1em;
		width: 7em;
		height: 5em;
		border-radius: 10px;
	}	

	.slicknav_menu img {
		display: block;
		width: 6.5em;
		padding-top: 5px;
		padding-left: 5px;		
	}	
}

#photo1 .background {
	background-image: url('../images/photo1.jpeg');
}

#photo2 .background {
	background-image: url('../images/photo2.jpeg');
}

#photo3 .background {
	background-image: url('../images/photo3.jpeg');
}

#photo4 .background {
	background-image: url('../images/photo4.jpeg');
}

#photo5 .background {
	background-image: url('../images/photo5.jpeg');
}


.photo-section .background {
	background-repeat: no-repeat;
}

#accueil h1 {
	text-align: center;
}
#accueil .subtitle {
	text-align: center;
}	


@media only screen and (min-width: 1240px) {
	.photo-section .background {
		max-width: 1240px;
		background-size: 100%;
		margin: auto;	
		height: 415px;
	}
	
	.mobile-logo {
		display: none;
	}
	
	#accueil h1 {
		font-size: 220%;
	}
	#accueil .subtitle {
		font-size: 140%;
	}
	
	.left-column .tarif-card {
		margin: 0em 2em 3em 0;
	}

	.right-column .tarif-card {
		margin: 0em 0 3em 2em;
	}
}

@media only screen and (min-width: 900px) and (max-width: 1239px) {
	.photo-section .background {
		max-width: 100vw;
		background-size: 100vw;
		height: 34.58vw;
		margin: auto;	
	}

	.mobile-logo {
		display: none;
	}

	#accueil h1 {
		font-size: 190%;
	}
	#accueil .subtitle {
		font-size: 100%;
	}	
	
	.left-column .tarif-card {
		margin: 0em 2em 3em 0;
	}

	.right-column .tarif-card {
		margin: 0em 0 3em 2em;
	}
}

@media only screen and (max-width: 899px) {
	.photo-section .background {
		max-width: 100vw;
		background-size: 900px;
		height: 311px;
		margin: auto;	
		background-position-x: calc( 50vw - 450px);
	}

	.mobile-logo {
		display: initial;
		width: 40vw;
		margin: 5vh 25vw 0 25vw;
	}
	
	.tarif-card {
		margin-bottom: 2em;
	}
}

@media only screen and (max-width: 500px) {
	body {
		font-size:3.6vw;
	}
	
	.icon {
		width: 12.8vw;
		height: 12.8vw;
	}
}

#accueil .grid-container,
#diplome .grid-container {
	background: #ffffff;
}

#diplome hr {
	margin-top: 3em;
}

#diplome img {
	max-width: 90vw;
	margin-top: 3em;
	margin-bottom: 3em;
}

#diplome a {
    text-align: center;
    width: 100%;
	display: inline-block;
	cursor: zoom-in;
}

#apropos .grid-container,
#valeurs .grid-container,
#contact .grid-container {
	background: url('../images/ricepaper2.png');
}

#mission .grid-container {
	background: url('../images/dust_scratches.png');
}

#objectif h2,
#objectif h3,
#tarifs h2 {
    font-weight: normal;
}

#objectif .grid-container,
#tarifs .grid-container {
	background-color: #382425;
	color: #f0dac0;    
}

#objectif .grid-container,
#tarifs .grid-container  {
	text-shadow: 0px 0px 5px black, 0px 0px 10px black;
}

#tarifs .tarif-card {
	text-shadow: 0px 0px 5px #fffef5;
}

.tarif-card {
	background-color: #f0dac0;
	color: #382425;
	padding: 1em 2em;
    text-align: center;
}


.tarif-titre {
    text-transform: uppercase;
    font-size: 140%;
	font-weight: bold;
	padding-bottom: 0.5em;
}

.tarif-details {
	border-top: 1px solid #382425;
	padding-top: 0.5em;
}

#contact a {
	margin: 1em;
	font-size: 150%;
	text-align: center;
	width: 80%;
    display: inline-block;
    vertical-align: bottom;
}

.contact-link {
    display: flex;
}

.icon {
	width: 64px;
}

#mentions-legales {
	font-size: 80%;
	max-width: 1200px;
    z-index: 1000;
}
#mentions-legales h2,  
#mentions-legales h3 {
	text-align: left;
}
.blocker{
    z-index: 1000;
}
.top-padded {
	padding-top: 2em;
}

.tarif-frais-dep.right-column {
    margin: 0em 0 3em 2em;
}